<section class="app-page-privacy-policy  grid-indent">
  <h1>Privacy Policy</h1>
  <p>This Privacy Policy is meant to help you understand what information we collect, why we collect it,
    and how you can update, manage, export, and delete your information.</p>
  <p>...</p>
</section>
