<section class="nevis-account-password-n-delete  grid-indent">

  <section class="nevis-account__single-form  dwfe-form">
    <h2 id="password_change">{{app.t7eMap('title_change_password', t7e)}}</h2>

    <dwfe-input-password class="dwfe-form__item"
                         [labelText]="app.t7eMap('new_password', t7e)"
                         (takeControl)="cNewPassword=$event"></dwfe-input-password>

    <dwfe-input-password class="dwfe-form__item"
                         [labelText]="app.t7eMap('new_password_repeat', t7e)"
                         (takeControl)="cRepeatNewPassword=$event"></dwfe-input-password>

    <dwfe-input-password class="dwfe-form__item"
                         [labelText]="app.t7eMap('current_password', t7e)"
                         [disableValidators]="true"
                         (takeControl)="cCurrentPasswordChange=$event"></dwfe-input-password>

    <dwfe-ok-action class="nevis-account__action"
                    [errorMessage]="errorMessage"
                    [successMessage]="successMessage"
                    [showErrorMessage]="activeExchangeUnitNumber===1 && errorMessage !== ''"
                    [showSuccessMessage]="activeExchangeUnitNumber===1 && successMessage !== ''"
                    [isDisabled]="!(cNewPassword.valid && cRepeatNewPassword.valid && cCurrentPasswordChange && cCurrentPasswordChange.value && cCurrentPasswordChange.value!='') || isLocked"
                    (takeClick)="performChangePassword()"></dwfe-ok-action>

    <dwfe-overlay *ngIf="activeExchangeUnitNumber===1 && isLocked"></dwfe-overlay>

  </section>

  <mat-divider></mat-divider>

  <section class="nevis-account__single-form  dwfe-form">
    <h2 id="delete-account">{{app.t7eMap('delete_account', t7e)}}</h2>

    <dwfe-input-password class="dwfe-form__item"
                         [labelText]="app.t7eMap('current_password', t7e)"
                         [disableValidators]="true"
                         (takeControl)="cCurrentPasswordDelete=$event"></dwfe-input-password>

    <dwfe-ok-action class="nevis-account__action"
                    [Label]="app.t7eMap('delete_forever', t7e)"
                    [type]="'warning'"
                    [errorMessage]="errorMessage"
                    [successMessage]="successMessage"
                    [showErrorMessage]="activeExchangeUnitNumber===2 && errorMessage !== ''"
                    [showSuccessMessage]="activeExchangeUnitNumber===2 && successMessage !== ''"
                    [isDisabled]="!(cCurrentPasswordDelete && cCurrentPasswordDelete.value && cCurrentPasswordDelete.value!='') || isLocked"
                    (takeClick)="performDeleteAccount()"></dwfe-ok-action>

    <dwfe-overlay *ngIf="activeExchangeUnitNumber===2 && isLocked"></dwfe-overlay>

  </section>

</section>
