@import "pref";

.nevis-email-confirm {
  position: relative;
}

.nevis-email-confirm__title {
  margin-bottom: $form-std-indent;
}

.nevis-email-confirm__result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.nevis-email-confirm__result-item {
  @include reset-margin-padding();
}

//
// ADAPTIVE
//
@include media-tablet {
}
