<a class="app-logo-header" routerLink="/">

  <svg class="app-logo-header__pic" width="35" height="35" viewBox="0 0 16 16" alt="Logo" alt="Do|While|For|Each" xmlns="http://www.w3.org/2000/svg">
    <g>
      <circle fill="#F78F8F" cx="8" cy="8" r="7.5"></circle>
      <path fill="#C74343" d="M8,1c3.9,0,7,3.1,7,7s-3.1,7-7,7s-7-3.1-7-7S4.1,1,8,1 M8,0C3.6,0,0,3.6,0,8s3.6,8,8,8s8-3.6,8-8 S12.4,0,8,0L8,0z"></path>
      <circle fill="#C74343" cx="8" cy="8" r="6"></circle>
    </g>
    <g fill="#FFEEA3">
      <path d="M7.7,8.4C4.5,5.9,5.4,3,5.4,2.8l1,0.3c0,0.1-0.7,2.4,1.9,4.5L7.7,8.4z"></path>
      <path d="M10.6,13.2l-1-0.3l0.5,0.2l-0.5-0.1c0-0.1,0.7-2.4-1.9-4.5l0.6-0.8C11.5,10.1,10.6,13,10.6,13.2z"></path>
      <path d="M8.4,8.3L7.6,7.7c2.5-3.2,5.4-2.3,5.6-2.2l-0.3,1L13,5.9l-0.1,0.5C12.8,6.4,10.4,5.7,8.4,8.3z"></path>
      <path d="M3.9,10.7c-0.6,0-1.1-0.1-1.1-0.1l0.3-1c0.1,0,2.4,0.7,4.5-1.9l0.8,0.6C6.8,10.3,5.1,10.7,3.9,10.7z"></path>
      <path d="M7.5,8.1C7,4.1,9.7,2.6,9.8,2.5l0.5,0.9L10.1,3l0.2,0.4c-0.1,0-2.2,1.2-1.8,4.5L7.5,8.1z"></path>
      <path d="M6.2,13.5l-0.5-0.9L5.9,13l-0.2-0.4c0.1,0,2.2-1.2,1.8-4.5l1-0.1C9,11.9,6.3,13.4,6.2,13.5z"></path>
      <path d="M12.6,10.3c0-0.1-1.2-2.2-4.5-1.8l-0.1-1c4-0.5,5.5,2.2,5.5,2.3L12.6,10.3l0.4-0.2L12.6,10.3z"></path>
      <path d="M7.1,8.6c-3.3,0-4.5-2.3-4.6-2.4l0.9-0.5L3,5.9l0.4-0.2c0,0.1,1.2,2.2,4.5,1.8l0.1,1 C7.7,8.5,7.4,8.6,7.1,8.6z"></path>
    </g>
    <g>
      <circle fill="#F78F8F" cx="8" cy="8" r="1.5"></circle>
      <path fill="#C74343" d="M8,7c0.6,0,1,0.4,1,1S8.6,9,8,9S7,8.6,7,8S7.4,7,8,7 M8,6C6.9,6,6,6.9,6,8s0.9,2,2,2s2-0.9,2-2 S9.1,6,8,6L8,6z"></path>
      <circle fill="#C74343" cx="8" cy="8" r="0.1"></circle>
    </g>
  </svg>

  <svg class="app-logo-header__txt" *ngIf="showTxt"
       width="74" height="20" viewBox="-1.5 -2.5 74 20" alt="Do|While|For|Each" xmlns="http://www.w3.org/2000/svg">
    <g stroke-width="0.7">
      <path stroke="#0000ff" fill="#0000ff" transform="translate(-7160.43 -7190.98)"
            d="M7161.35,7195.46a.19.19,0,0,0,0,.14.21.21,0,0,1,0,.15l-.2.12-.19.11a.33.33,0,0,1-.27-.11,1,1,0,0,1-.2-.28.37.37,0,0,0,.08-.15.4.4,0,0,1,.08-.16.38.38,0,0,0,.18-.06.56.56,0,0,1,.21,0,.68.68,0,0,0,.18.13A.77.77,0,0,1,7161.35,7195.46Zm-.16,3.63.06.18a.47.47,0,0,1,0,.15.34.34,0,0,1-.08.2,1.55,1.55,0,0,0-.13.17.58.58,0,0,1-.2,0,.7.7,0,0,1-.29-.08.43.43,0,0,1-.1-.31.62.62,0,0,1,.06-.29.91.91,0,0,1,.37-.16l.13,0Zm.2-7.42a.29.29,0,0,1-.09.22l-.17.17-.22-.05a.38.38,0,0,1-.19-.13c-.11-.05-.17-.12-.17-.21a.33.33,0,0,1,.15-.27.57.57,0,0,1,.32-.1.35.35,0,0,1,.26.1A.39.39,0,0,1,7161.39,7191.67Zm0,13.73a.31.31,0,0,1-.07.18.41.41,0,0,0-.09.19h-.1l-.09,0-.1,0a.5.5,0,0,1-.16,0,.24.24,0,0,0-.08-.12.3.3,0,0,1-.09-.08.33.33,0,0,1,0-.14.37.37,0,0,0-.06-.15.36.36,0,0,1,.11-.14.36.36,0,0,1,.16-.11.27.27,0,0,1,.2-.06h.09l.21.18A.26.26,0,0,1,7161.43,7205.4Zm0-1.93a.19.19,0,0,1-.16.19.67.67,0,0,1-.15.14.32.32,0,0,1-.18.06.43.43,0,0,1-.2-.08l-.19-.39.23-.28a.93.93,0,0,1,.29,0,.37.37,0,0,1,.34.19.38.38,0,0,0,0,.1S7161.45,7203.43,7161.45,7203.47Zm0-9.95c0,.06,0,.1,0,.14a.23.23,0,0,0,0,.14.65.65,0,0,0-.22.11.28.28,0,0,1-.21.08.32.32,0,0,1-.26-.12.5.5,0,0,1-.09-.29.29.29,0,0,1,.13-.26.56.56,0,0,1,.31-.09.33.33,0,0,1,.19.06.5.5,0,0,1,.15.14Zm.06,3.83a.46.46,0,0,1,0,.2.38.38,0,0,0-.06.17l-.22.06a.49.49,0,0,1-.17,0,.24.24,0,0,1-.22-.16.59.59,0,0,1-.08-.25.53.53,0,0,1,.1-.29.34.34,0,0,1,.28-.14.37.37,0,0,1,.21.09l.2.13Zm0,4.22a.53.53,0,0,1-.16.27,1.05,1.05,0,0,1-.27.2,1,1,0,0,0-.23-.17.24.24,0,0,1-.13-.22s0-.1,0-.14a.53.53,0,0,0,0-.13c.06,0,.11-.09.18-.13a.3.3,0,0,1,.19-.07.3.3,0,0,1,.26.13A.94.94,0,0,1,7161.49,7201.57Zm2-10.06s0,.08,0,.11a.28.28,0,0,0,0,.09.31.31,0,0,0-.13.12.27.27,0,0,1-.16.13l-.12,0-.12,0a.26.26,0,0,1-.23-.17.53.53,0,0,1-.1-.28.27.27,0,0,1,.15-.24.51.51,0,0,1,.28-.09.71.71,0,0,1,.28.08C7163.42,7191.35,7163.48,7191.42,7163.48,7191.51Zm.23,13.81a.54.54,0,0,1-.06.25.57.57,0,0,0-.07.22.25.25,0,0,0-.17,0,.25.25,0,0,1-.13,0,.36.36,0,0,1-.3-.14.49.49,0,0,1-.11-.31.28.28,0,0,1,.1-.24,1.11,1.11,0,0,0,.18-.19,1.21,1.21,0,0,1,.32.1A.83.83,0,0,1,7163.71,7205.32Zm1.54-13.89a1.94,1.94,0,0,0-.14.3c0,.09-.13.14-.28.15a1.13,1.13,0,0,1-.27-.16.37.37,0,0,1-.11-.29,1.2,1.2,0,0,1,0-.17l.21-.08a.54.54,0,0,1,.22,0,.24.24,0,0,1,.22.09A1.28,1.28,0,0,1,7165.25,7191.43Zm.4,13.95c0,.09,0,.14-.07.16s0,.07,0,.17a.91.91,0,0,0-.23.08.46.46,0,0,1-.18.06c-.08,0-.15-.06-.22-.17a.63.63,0,0,1-.1-.28.31.31,0,0,1,.15-.25.46.46,0,0,1,.26-.12h.16a.37.37,0,0,1,.15.16A1.07,1.07,0,0,0,7165.65,7205.38Zm1.48-13.79a.5.5,0,0,1,0,.16l-.13.13a.39.39,0,0,1-.14.12.5.5,0,0,1-.35-.12.38.38,0,0,1-.14-.33v-.1l.13-.1.1-.09a.54.54,0,0,1,.18,0,.33.33,0,0,1,.17,0l.16.06a.28.28,0,0,0,0,.13A.32.32,0,0,1,7167.13,7191.59Zm1.13,13.65-.17.41a.91.91,0,0,1-.32.06h-.25l-.14-.54a.53.53,0,0,1,.43-.22.47.47,0,0,1,.32.14c0,.06,0,.1,0,.11S7168.18,7205.22,7168.26,7205.24Zm.69-13.32s0,.09,0,.2a.55.55,0,0,1-.35.17.44.44,0,0,1-.3-.11.75.75,0,0,1-.08-.3.93.93,0,0,1,0-.19c.07,0,.11-.06.12-.11s.07-.07.18-.07a.41.41,0,0,1,.29.13A.38.38,0,0,1,7169,7191.92Zm1.4,12.56c0,.09-.05.18-.07.27a1.53,1.53,0,0,1-.08.26.15.15,0,0,0-.08,0l-.13,0-.13,0a.4.4,0,0,0-.13-.07.46.46,0,0,1-.14-.07.75.75,0,0,1-.06-.31.44.44,0,0,0,.15-.25c0-.09.1-.14.24-.14a.54.54,0,0,1,.18,0,.45.45,0,0,1,.14.1A.69.69,0,0,0,7170.35,7204.48Zm.43-11.95a.33.33,0,0,0-.06.15v.18a1.86,1.86,0,0,0-.2.14.71.71,0,0,1-.21.11.56.56,0,0,1-.33-.13,1.93,1.93,0,0,1,0-.24.55.55,0,0,1,.09-.32.39.39,0,0,1,.54,0A.8.8,0,0,0,7170.78,7192.53Zm1.21,10.64a1.48,1.48,0,0,1-.17.33.35.35,0,0,1-.3.16.29.29,0,0,1-.24-.12c-.06-.07-.11-.15-.17-.23a.93.93,0,0,1,0-.22.16.16,0,0,0,0-.09.17.17,0,0,1,.06-.06.24.24,0,0,1,.12,0,.64.64,0,0,1,.25-.08h.08Zm.1-9-.12.13s0,0,0,.08a.11.11,0,0,1,0,.08l-.11,0-.14,0a.49.49,0,0,1-.45-.29l.18-.35a.3.3,0,0,1,.31-.18.87.87,0,0,1,.23.19A.4.4,0,0,1,7172.09,7194.19Zm.51,1.44,0,.53-.15,0-.14,0a.74.74,0,0,1-.23-.05.3.3,0,0,1-.16-.11.51.51,0,0,1,0-.25.32.32,0,0,1,0-.14.93.93,0,0,1,0-.13,1.28,1.28,0,0,1,.2-.12.45.45,0,0,1,.23,0,.33.33,0,0,0,.11.15Zm.1,5.69a.51.51,0,0,1-.12.32.37.37,0,0,1-.31.15.42.42,0,0,1-.22-.08.18.18,0,0,0-.09-.12l-.12-.08.05-.14a.92.92,0,0,0,0-.15.67.67,0,0,1,.28-.18,1.74,1.74,0,0,0,.32-.11l-.06.07a.81.81,0,0,0,.24.1A.93.93,0,0,1,7172.7,7201.32Zm.29-1.64a.6.6,0,0,1-.2.33l-.13,0h-.14a.12.12,0,0,1-.12-.06l-.12-.11a.24.24,0,0,1-.11-.13.5.5,0,0,1,.08-.35l.43-.17a.36.36,0,0,0,.08.12.38.38,0,0,0,.15.09Zm0-2.05a.47.47,0,0,1,0,.17.48.48,0,0,0,0,.18.56.56,0,0,1-.15.1.29.29,0,0,1-.18.05.31.31,0,0,1-.25-.11.51.51,0,0,1-.08-.28.5.5,0,0,1,.15-.35l.2,0a.58.58,0,0,1,.33.1A.54.54,0,0,1,7173,7197.63Z"></path>
      <path stroke="#fc6781" fill="#fc6781" transform="translate(-7160.43 -7190.98)"
            d="M7180.51,7191.47a.46.46,0,0,1-.09.17,1.92,1.92,0,0,1-.36.2.5.5,0,0,1-.29-.12.38.38,0,0,1-.15-.27c.05-.11.09-.2.12-.25a.59.59,0,0,1,.23-.16.72.72,0,0,1,.37.11A.34.34,0,0,1,7180.51,7191.47Zm.43,2.07a.43.43,0,0,1,0,.17.66.66,0,0,0,0,.15.47.47,0,0,0-.24.15,1.24,1.24,0,0,1-.27,0,.55.55,0,0,1-.24-.12.68.68,0,0,0,0-.2,1.29,1.29,0,0,0,0-.19.44.44,0,0,1,.43-.32h.14l.13.09a.2.2,0,0,0,.14.05A.91.91,0,0,1,7180.94,7193.54Zm.51,2.31a.27.27,0,0,0,0,.11.25.25,0,0,1,0,.1s0,0,0,0,0,0,0,.06a.59.59,0,0,1-.17.15.57.57,0,0,0-.18.12,1.31,1.31,0,0,0-.21-.08.56.56,0,0,1-.2-.11.23.23,0,0,0,0-.15.3.3,0,0,1-.05-.2,1.4,1.4,0,0,0,.1-.16.31.31,0,0,1,.14-.14h.45a.92.92,0,0,0,.09.13A.5.5,0,0,1,7181.45,7195.85Zm.63,2.46a.31.31,0,0,1-.1.25l-.22.18-.22,0a.66.66,0,0,1-.23,0l-.07-.19a.37.37,0,0,1,0-.18.25.25,0,0,1,.09-.22.53.53,0,0,0,.16-.17h.41a1.24,1.24,0,0,0,.14.18A.32.32,0,0,1,7182.08,7198.31Zm.62,2.44a1.38,1.38,0,0,1-.08.17l-.08.14-.19.14a.18.18,0,0,1-.13,0,.34.34,0,0,0-.12-.06l-.1,0-.14-.19a.43.43,0,0,1-.06-.22s0-.08,0-.12a.37.37,0,0,0,0-.11.65.65,0,0,1,.22-.11.67.67,0,0,0,.21-.09l.2.12.19.12a.49.49,0,0,1,0,.11A.5.5,0,0,1,7182.7,7200.75Zm.65,2.31a.33.33,0,0,1-.15.23.44.44,0,0,1-.24.12.61.61,0,0,1-.34-.12.36.36,0,0,1-.17-.29.31.31,0,0,1,0-.17.6.6,0,0,0,.05-.16.25.25,0,0,0,.17-.05.17.17,0,0,1,.15-.05.35.35,0,0,1,.24.08,1.71,1.71,0,0,0,.23.13.61.61,0,0,0,0,.14S7183.35,7203,7183.35,7203.06Zm1,2.32a.48.48,0,0,1-.08.25l-.23.16a2.18,2.18,0,0,1-.4-.17c-.11-.05-.17-.18-.17-.38v-.09l.09-.08.06,0s0,0,.05-.06l0-.14.13.12.14,0h.08a1.15,1.15,0,0,0,.27.27s0,.06,0,.09A.28.28,0,0,1,7184.34,7205.38Zm.9-2.25a1,1,0,0,1,0,.26h-.12a.08.08,0,0,0-.07,0,.17.17,0,0,1-.12.05.44.44,0,0,1-.29-.09l-.26-.19a1,1,0,0,0,.07-.24.41.41,0,0,1,.09-.21l.2-.09a.52.52,0,0,1,.21,0,.22.22,0,0,1,.11,0l.08,0A.94.94,0,0,1,7185.24,7203.13Zm.63-2.32a.56.56,0,0,1-.15.32.42.42,0,0,1-.32.13,1,1,0,0,1-.27-.05.2.2,0,0,1-.14-.21.52.52,0,0,0,0-.11.25.25,0,0,1,0-.12l.21-.23a.34.34,0,0,1,.28-.14.34.34,0,0,1,.27.15A.83.83,0,0,1,7185.87,7200.81Zm.66-2.29a.47.47,0,0,1-.13.34.41.41,0,0,1-.32.13.32.32,0,0,1-.23-.09l-.2-.16v-.1a.5.5,0,0,0,0-.12.43.43,0,0,1,0-.11.5.5,0,0,1,0-.16,2.72,2.72,0,0,1,.55-.18.38.38,0,0,0,.11.13l.16.09A.53.53,0,0,1,7186.53,7198.52Zm.55-2a1.2,1.2,0,0,0-.25.13.43.43,0,0,1-.26.09l-.16,0-.17-.06a1,1,0,0,1-.11-.17.41.41,0,0,1-.05-.18v-.12a1.08,1.08,0,0,1,.23-.18.51.51,0,0,1,.26-.09.14.14,0,0,1,.13.06s0,.07.06.11.22.11.24.17A2.83,2.83,0,0,0,7187.08,7196.51Zm.52-2.4a.31.31,0,0,1,0,.17,1.26,1.26,0,0,0-.07.16l-.15,0-.15,0a.47.47,0,0,1-.31-.12.65.65,0,0,0-.19-.21,1.1,1.1,0,0,1,.12-.33.3.3,0,0,1,.29-.18.38.38,0,0,1,.22.06.38.38,0,0,0,.22.06.83.83,0,0,1,0,.15A.52.52,0,0,1,7187.6,7194.11Zm1-2.15a.65.65,0,0,1-.18.41h-.33a.4.4,0,0,1-.31-.14.59.59,0,0,0,0-.13.77.77,0,0,1,0-.15.38.38,0,0,1,.13-.27.37.37,0,0,1,.28-.14.36.36,0,0,1,.24.09l.21.17Zm1,2.27a.29.29,0,0,1-.17.26.68.68,0,0,1-.33.11.47.47,0,0,1-.34-.16.85.85,0,0,0,0-.17c0-.06-.05-.11-.07-.18a.3.3,0,0,0,.11-.14,1.09,1.09,0,0,0,.08-.15h.1a.54.54,0,0,1,.2,0,.76.76,0,0,1,.22.11l.21.12a.25.25,0,0,0,0,.12A.49.49,0,0,1,7189.63,7194.23Zm.53,2.2a.49.49,0,0,1,0,.12s0,.09,0,.14a.4.4,0,0,0-.13.06l-.07,0-.08,0h-.17l-.11.06-.15-.14-.17-.13.06-.31.18-.24a1,1,0,0,1,.29,0,.31.31,0,0,1,.28.12A.48.48,0,0,1,7190.16,7196.43Zm.67,2.25v.08a1.36,1.36,0,0,1-.24.24.49.49,0,0,1-.31.11.41.41,0,0,1-.35-.23l0-.12a.24.24,0,0,1,0-.08.35.35,0,0,1,.16-.28.45.45,0,0,1,.31-.13l.15,0a.48.48,0,0,1,.16.07l.12.14A.27.27,0,0,1,7190.83,7198.68Zm.54,2.27a1.51,1.51,0,0,1,0,.31,1.39,1.39,0,0,1-.19.06l-.2,0a.54.54,0,0,1-.25-.06,1.42,1.42,0,0,0-.11-.16.49.49,0,0,0-.15-.12l.1-.33.19-.11a.32.32,0,0,1,.18-.06.39.39,0,0,1,.2.06l.19.09A.45.45,0,0,1,7191.37,7201Zm.59,2.34-.24.19a.41.41,0,0,1-.27.08.4.4,0,0,1-.31-.15.53.53,0,0,1-.14-.33v-.16a1,1,0,0,1,.24-.14.82.82,0,0,1,.25,0,.52.52,0,0,1,.18,0,.47.47,0,0,0,.17,0l.1.18a.31.31,0,0,1,0,.1l0,.11Zm.64,2.11a.28.28,0,0,1-.1.18.64.64,0,0,0-.15.21l-.41-.12a.32.32,0,0,1-.22-.33.27.27,0,0,1,0-.17s0-.08,0-.2h.19a.38.38,0,0,0,.16-.09,1.68,1.68,0,0,1,.34.2A.4.4,0,0,1,7192.6,7205.4Zm1.12-2.34a.42.42,0,0,1-.11.26.35.35,0,0,1-.27.13.34.34,0,0,1-.17-.05.35.35,0,0,0-.18,0,1.67,1.67,0,0,0-.08-.2.36.36,0,0,1-.05-.21.32.32,0,0,1,0-.14l.06-.13a.77.77,0,0,1,.3-.06.65.65,0,0,1,.29.06l.13.17A.37.37,0,0,1,7193.72,7203.06Zm.78-2.25-.11.21a.65.65,0,0,1-.15.2h-.17a.33.33,0,0,1-.21-.06.23.23,0,0,0-.16-.06l-.09-.2a.59.59,0,0,1,0-.23.43.43,0,0,1,.08-.21l.54-.14.21.21A.36.36,0,0,1,7194.5,7200.81Zm.64-2.4a.38.38,0,0,1-.41.43.46.46,0,0,1-.33-.15.47.47,0,0,1-.16-.32.3.3,0,0,1,.26-.31l.43-.06.15.17A.38.38,0,0,1,7195.14,7198.41Zm.76-2.37a.5.5,0,0,1-.07.13.49.49,0,0,0,0,.15.88.88,0,0,1-.43.13.72.72,0,0,1-.3-.07.67.67,0,0,1-.13-.38v-.17a1.69,1.69,0,0,1,.29-.17.87.87,0,0,1,.31-.07h.22c0,.07,0,.14.07.21A.9.9,0,0,1,7195.9,7196Zm.69-2.38a1.17,1.17,0,0,0-.14.25.65.65,0,0,1-.15.1l-.14.1-.37-.1a.26.26,0,0,1-.08-.13.35.35,0,0,0-.08-.16,1.38,1.38,0,0,0,.08-.2.51.51,0,0,0,0-.09l.35-.22a.34.34,0,0,0,.12.06.23.23,0,0,0,.17,0l.11.17A1.74,1.74,0,0,0,7196.59,7193.66Zm.64-2a1.15,1.15,0,0,0-.19.14.4.4,0,0,1-.24.07.39.39,0,0,1-.15,0l-.16,0c0-.05-.06-.12-.11-.2a.57.57,0,0,1-.07-.21,1.57,1.57,0,0,1,.2-.25.38.38,0,0,1,.29-.12.68.68,0,0,1,.26.08.65.65,0,0,1,.11.27A.78.78,0,0,0,7197.23,7191.67Z"></path>
      <path stroke="#F3DC00" fill="#f3f100" transform="translate(-7160.43 -7190.98)"
            d="M7205.24,7193a.71.71,0,0,1,0,.2,1.48,1.48,0,0,0,0,.21.44.44,0,0,0-.18,0,.28.28,0,0,0-.18.1,1.11,1.11,0,0,1-.47-.41l.22-.18a.91.91,0,0,0,.19-.2,1,1,0,0,1,.28.08A.33.33,0,0,1,7205.24,7193Zm0,12.3a.75.75,0,0,1-.29.59.28.28,0,0,0-.27,0l-.24-.29v-.12s0-.08,0-.11a.37.37,0,0,0,0-.11.53.53,0,0,1,.22-.12.39.39,0,0,0,.21-.13c.13.07.2.12.21.17S7205.15,7205.21,7205.24,7205.26Zm.12-10.6-.08.13a.48.48,0,0,1-.09.14l-.18,0-.18,0a.38.38,0,0,1-.23-.08l-.09-.16a.34.34,0,0,1-.05-.17,1.17,1.17,0,0,1,0-.16.42.42,0,0,1,.18-.11.55.55,0,0,0,.17-.14.56.56,0,0,1,.22.09l.19.1C7205.28,7194.43,7205.31,7194.53,7205.36,7194.66Zm-.06,5.17a.84.84,0,0,1,0,.27,1.09,1.09,0,0,0,0,.26l-.19.08a.71.71,0,0,1-.2,0h-.19l-.09-.22a1,1,0,0,1-.07-.21.3.3,0,0,0,0-.08s0-.05,0-.08a.63.63,0,0,1,0-.16,1.55,1.55,0,0,0,.39-.09,1.11,1.11,0,0,1,.19.09A.81.81,0,0,0,7205.3,7199.83Zm.08-1.62c-.06.14-.12.26-.17.35a.39.39,0,0,1-.36.14h-.19c0-.1,0-.17-.08-.19s-.08-.08-.08-.18a.37.37,0,0,1,.06-.21,1.62,1.62,0,0,0,.1-.18h.39Zm0-6.87a.72.72,0,0,0-.1.35l-.24.1a.87.87,0,0,1-.23.05.27.27,0,0,1-.24-.13.49.49,0,0,1-.09-.28.38.38,0,0,1,.37-.37,1,1,0,0,1,.2,0,.44.44,0,0,0,.15.12A.44.44,0,0,1,7205.42,7191.34Zm0,10.45c0,.09,0,.15-.06.17s0,.09,0,.2a.34.34,0,0,0-.15.06l-.14.07-.18,0h-.17a1.14,1.14,0,0,0-.1-.19.33.33,0,0,1-.06-.19v-.11a.36.36,0,0,1,.35-.28l.19,0a.55.55,0,0,0,.18,0,1,1,0,0,1,.07.15A.54.54,0,0,0,7205.38,7201.79Zm0-5.1a.15.15,0,0,1,0,.06.46.46,0,0,1-.07.07l-.09.1H7205a.18.18,0,0,0-.1,0l-.13-.11a.6.6,0,0,0-.18-.06l.06-.24,0-.08a1,1,0,0,1,.2-.21.36.36,0,0,1,.27-.1.28.28,0,0,1,.23.14c.08,0,.12.05.13.09A1.8,1.8,0,0,1,7205.4,7196.69Zm0,6.78a.64.64,0,0,1-.16.33.74.74,0,0,1-.27.06.3.3,0,0,1-.26-.12.84.84,0,0,1-.13-.27,1.9,1.9,0,0,1,.33-.43c.07.06.13.09.18.07a.21.21,0,0,1,.17.08.57.57,0,0,0,.06.15A.49.49,0,0,1,7205.38,7203.47Zm1.49-5.06a2.18,2.18,0,0,1-.22.21.39.39,0,0,1-.27.1h-.11l-.11,0a1.09,1.09,0,0,0-.08-.15.38.38,0,0,1,0-.16v-.1l.18-.35a.54.54,0,0,1,.27.06,1,1,0,0,0,.28.09.79.79,0,0,1,0,.17A.35.35,0,0,0,7206.87,7198.41Zm.33-7a1.37,1.37,0,0,1-.07.24,2.26,2.26,0,0,1-.11.22.84.84,0,0,1-.23,0,.59.59,0,0,1-.28-.1c-.11-.08-.17-.15-.17-.23a.63.63,0,0,1,0-.19.54.54,0,0,0,0-.22.46.46,0,0,0,.21,0,.71.71,0,0,1,.2,0,.31.31,0,0,1,.25.08S7207.13,7191.27,7207.2,7191.38Zm1.48,6.85a3.65,3.65,0,0,1-.14.35.32.32,0,0,1-.31.18l-.12-.07a.4.4,0,0,0-.15,0,.48.48,0,0,1-.12-.33.36.36,0,0,1,0-.11l0-.09.2-.13a.46.46,0,0,1,.25-.08l.17.14Zm.43-6.8a.69.69,0,0,1,0,.17.43.43,0,0,0,0,.17.72.72,0,0,1-.39.13l-.18-.08-.19-.09v-.18a.74.74,0,0,1,.14-.39l.33-.12a.55.55,0,0,0,.19.21A.62.62,0,0,1,7209.11,7191.43Zm1.35,6.9a.32.32,0,0,1-.07.22l-.17.19a.15.15,0,0,0-.07-.06H7210a.31.31,0,0,1-.24-.16.5.5,0,0,1-.11-.27.26.26,0,0,1,.15-.25.63.63,0,0,1,.32-.08.28.28,0,0,1,.21.14A.45.45,0,0,1,7210.46,7198.33Zm.35-6.84a.24.24,0,0,1-.1.21l-.19.14-.19,0h-.18a.91.91,0,0,0-.1-.16.3.3,0,0,1,0-.19,1.75,1.75,0,0,1,.14-.25.3.3,0,0,1,.25-.16.39.39,0,0,1,.2.06l.19.1-.06.1a.16.16,0,0,1,.06.08A.2.2,0,0,1,7210.81,7191.49Zm1.35,6.8a.5.5,0,0,1,0,.16c-.11.13-.18.19-.24.2l-.31.05c-.08-.07-.12-.12-.12-.17a.41.41,0,0,0-.11-.16.44.44,0,0,1,.07-.19,1.42,1.42,0,0,0,.08-.18h.1a.37.37,0,0,0,.11,0,.31.31,0,0,1,.17,0h.11a.67.67,0,0,0,.11.18A.28.28,0,0,1,7212.16,7198.29Zm.23-6.91a.19.19,0,0,1-.08.15.74.74,0,0,1-.14.22.32.32,0,0,1-.23.09h-.17a.66.66,0,0,0-.14-.17.32.32,0,0,1-.1-.2l.12-.25a.77.77,0,0,1,.19-.11.38.38,0,0,0,.16-.11l.25.15A.27.27,0,0,1,7212.39,7191.38Zm1.62.21-.2.22a.32.32,0,0,1-.27.13.36.36,0,0,1-.19,0l-.2-.08a.44.44,0,0,0,0-.17.86.86,0,0,1,0-.17c0-.14,0-.22.11-.23a.28.28,0,0,0,.2-.16l.31,0a.63.63,0,0,1,.17.25A.61.61,0,0,0,7214,7191.59Z"></path>
      <path stroke="#56dc6e" fill="#56dc6e" transform="translate(-7160.43 -7190.98)"
            d="M7222.63,7205.28a.67.67,0,0,1-.31.55.32.32,0,0,0-.27,0,.53.53,0,0,1-.11-.14.28.28,0,0,0-.13-.11v-.14a.59.59,0,0,1,0-.14.52.52,0,0,0,0-.11.81.81,0,0,1,.21-.1.82.82,0,0,0,.2-.12.34.34,0,0,1,.21.17A.37.37,0,0,0,7222.63,7205.28Zm0-12.28a.88.88,0,0,1,0,.17.94.94,0,0,1,0,.16h-.17s-.09,0-.16.1a.76.76,0,0,1-.43-.45c.07,0,.13-.11.21-.16a1,1,0,0,0,.18-.17.76.76,0,0,1,.28.09A.27.27,0,0,1,7222.65,7193Zm.1,6.79a.88.88,0,0,1,0,.29.75.75,0,0,0,0,.26l-.19.08a.71.71,0,0,1-.2,0h-.2a.48.48,0,0,0-.08-.21s-.05-.12-.05-.26a.41.41,0,0,1,0-.14l.43-.25.16.12Zm.08,2c0,.09-.05.15-.08.17s0,.09,0,.18l-.2.08a.65.65,0,0,1-.19,0h-.24a.51.51,0,0,0-.09-.18.32.32,0,0,1-.06-.2v-.11c.09-.19.21-.28.35-.28l.19,0a.52.52,0,0,0,.18,0,1,1,0,0,1,.07.15A.38.38,0,0,0,7222.83,7201.77Zm0,1.68a1.21,1.21,0,0,1-.05.18.33.33,0,0,1-.11.15.94.94,0,0,1-.31.08.27.27,0,0,1-.26-.13.71.71,0,0,1-.09-.28,1.45,1.45,0,0,1,.33-.43c.07.06.12.09.18.08a.26.26,0,0,1,.17.09.27.27,0,0,0,0,.14S7222.76,7203.38,7222.79,7203.45Zm.1-8.83a1,1,0,0,0-.16.33.6.6,0,0,0-.19,0l-.18,0a.38.38,0,0,1-.22-.06,1.51,1.51,0,0,0-.09-.18.27.27,0,0,1-.06-.17.5.5,0,0,1,0-.16.45.45,0,0,1,.17-.11.57.57,0,0,0,.18-.12.4.4,0,0,1,.21.07l.18.1a1.16,1.16,0,0,0,.06.15A.31.31,0,0,0,7222.89,7194.62Zm0,3.51-.13.25a.61.61,0,0,1-.19.2h-.39c0-.09,0-.15-.08-.17s-.07-.1-.07-.22a.3.3,0,0,1,.06-.18.7.7,0,0,1,.13-.17h.33Zm.09-1.77a.81.81,0,0,1-.11.27.41.41,0,0,0-.06.29h-.39s0,0,0,0l-.14-.11a.45.45,0,0,0-.15-.06.45.45,0,0,1,0-.13.83.83,0,0,1,0-.13.65.65,0,0,0,0-.1l.18-.18a.39.39,0,0,1,.26-.09.29.29,0,0,1,.24.14Zm0-4.87a1.47,1.47,0,0,1-.07.17.32.32,0,0,0,0,.18h-.12a.2.2,0,0,0-.05.09.2.2,0,0,1-.05.09l-.36-.13a.31.31,0,0,1-.21-.3.35.35,0,0,1,.12-.28.41.41,0,0,1,.28-.11.54.54,0,0,1,.19,0,.27.27,0,0,0,.14.14A.45.45,0,0,1,7223,7191.49Zm1.23,6.78a.52.52,0,0,1-.46.27.9.9,0,0,1-.24,0,.31.31,0,0,0-.06-.13.34.34,0,0,1,0-.16v-.1a1.14,1.14,0,0,1,.09-.16.31.31,0,0,0,.05-.17.93.93,0,0,1,.29.05l.3.09a.55.55,0,0,1,0,.17A.58.58,0,0,0,7224.21,7198.27Zm.34,7.46a.63.63,0,0,0-.23.1.32.32,0,0,1-.22.06.31.31,0,0,1-.22-.08.42.42,0,0,0-.09-.14.24.24,0,0,1,0-.15.3.3,0,0,1,0-.14.61.61,0,0,0,0-.12l.19-.12a.32.32,0,0,1,.22-.07.44.44,0,0,1,.18,0c0,.09,0,.14.08.16s.06.06.06.13a.2.2,0,0,1,0,.11.16.16,0,0,0,0,.09.1.1,0,0,0,0,.07A.2.2,0,0,0,7224.55,7205.73Zm0-14.33a.69.69,0,0,1-.05.31c0,.08-.13.11-.28.11a.33.33,0,0,1-.17,0l-.18-.11a.36.36,0,0,0,0-.09.36.36,0,0,1,0-.11.32.32,0,0,1,.15-.27.51.51,0,0,1,.3-.1h.2a.35.35,0,0,0,.06.14A.29.29,0,0,1,7224.58,7191.4Zm1.51,6.67a2.07,2.07,0,0,1-.15.34.34.34,0,0,1-.32.15l-.17-.06a.27.27,0,0,1-.14-.07.58.58,0,0,1-.06-.26.3.3,0,0,1,0-.1l0-.09.25-.2.2,0,.16.15A.85.85,0,0,1,7226.09,7198.07Zm.17,7.45a.52.52,0,0,1-.09.29.34.34,0,0,1-.28.14.45.45,0,0,1-.28-.11.37.37,0,0,1-.13-.28.3.3,0,0,1,.08-.23l.18-.16.28.05a.51.51,0,0,1,.23.16A.49.49,0,0,1,7226.26,7205.52Zm.06-14.26a.64.64,0,0,1-.1.37.42.42,0,0,1-.35.16h-.17a.69.69,0,0,1-.14-.38v-.15a.53.53,0,0,0,.15-.17s.09-.07.2-.07a.42.42,0,0,1,.23.07A1.41,1.41,0,0,1,7226.32,7191.26Zm1.74,14.16a.74.74,0,0,0-.07.21.34.34,0,0,1-.08.2.83.83,0,0,1-.28.06.34.34,0,0,1-.26-.12.4.4,0,0,1-.11-.27.27.27,0,0,1,0-.14l.1-.09.1-.1.05-.06q.3,0,.33.06Zm0-7.25a.31.31,0,0,1-.07.21.54.54,0,0,1-.16.14l-.08,0h-.1a.28.28,0,0,1-.24-.11.45.45,0,0,1-.09-.28.36.36,0,0,1,.16-.31,1.37,1.37,0,0,0,.29,0,.53.53,0,0,1,.2.16A.35.35,0,0,1,7228,7198.17Zm.22-6.74-.28.39h-.33a.34.34,0,0,1-.12-.06s-.09-.1-.15-.19v-.15a.29.29,0,0,1,0-.12.37.37,0,0,1,.06-.1.61.61,0,0,1,.16-.12l.19-.08a.65.65,0,0,1,.15.12.3.3,0,0,0,.16.08Zm1.48,6.72a.27.27,0,0,1,0,.14.8.8,0,0,1-.24.19l-.3,0a.25.25,0,0,1-.12-.16.27.27,0,0,0-.12-.17l.18-.35h.11l.1-.05a.27.27,0,0,1,.12,0l.16,0a.51.51,0,0,0,.09.18A.27.27,0,0,1,7229.72,7198.15Zm0,7.39a.2.2,0,0,1,0,.13l-.08.14a1.08,1.08,0,0,1-.46.1.83.83,0,0,1-.13-.16l-.11-.16a1.1,1.1,0,0,1,0-.18,1.11,1.11,0,0,0,0-.19c.08,0,.12,0,.14-.05s0-.1,0-.16l.28.11a.41.41,0,0,1,.2.2l.08.1A.15.15,0,0,1,7229.72,7205.54Zm.14-14.13v.12a.25.25,0,0,0-.16.2l-.14,0-.17,0-.12,0a.27.27,0,0,0-.13,0,.43.43,0,0,0,0-.17.33.33,0,0,1,0-.15.31.31,0,0,1,.12-.24,2.21,2.21,0,0,1,.23-.17l.14.06s.07,0,.13,0a1.4,1.4,0,0,0,.1.16A.27.27,0,0,1,7229.86,7191.41Zm1.5,14.2a.51.51,0,0,1-.27.17l-.29.09a.52.52,0,0,1-.28-.45.4.4,0,0,1,.14-.26.38.38,0,0,1,.27-.15c.11,0,.17,0,.2.07a.22.22,0,0,0,.13.09c.06.07.08.13.07.16s0,.09,0,.17A.16.16,0,0,0,7231.36,7205.61Zm.2-14.21a.38.38,0,0,1-.16.29.47.47,0,0,1-.31.13H7231l-.14-.18-.11-.19a.93.93,0,0,1,.05-.14.9.9,0,0,0,0-.15,1.79,1.79,0,0,1,.52-.16.9.9,0,0,0,.26.2C7231.54,7191.3,7231.56,7191.37,7231.56,7191.4Z"></path>
    </g>
  </svg>

</a>
