<section class="nevis-account-email  grid-indent">

  <section class="nevis-account-email__email  nevis-account__single-form  dwfe-form">
    <h2 id="account_email_info" class="visually-hidden">{{app.t7eMap('title_info', t7e)}}</h2>

    <div class="nevis-account__group  nevis-account__element-indent">
      <dwfe-input-text class="nevis-account__group-control"
                       [labelText]="app.t7eMap('email', t7e)"
                       (takeControl)="cEmail=$event"></dwfe-input-text>

      <dwfe-slide-toggle class="nevis-account__group-vis-checker"
                         [hintTrue]="app.t7eMap('hint_true', t7e)"
                         [hintFalse]="app.t7eMap('hint_false', t7e)"
                         [markIfChanged]="true"
                         [cancelEdit$]="subjCancelEdit_Info.asObservable()"
                         [saveEdit$]="subjSaveEdit_Info.asObservable()"
                         (takeControl)="tEmail=$event"
                         (takeIsChanged)="emailNonPublic_changed=$event"></dwfe-slide-toggle>
    </div>

    <dwfe-ok-cancel-action class="nevis-account__action"
                           [errorMessage]="errorMessage"
                           [successMessage]="successMessage"
                           [showErrorMessage]="activeExchangeUnitNumber===1 && errorMessage !== ''"
                           [showSuccessMessage]="activeExchangeUnitNumber===1 && successMessage !== ''"
                           [isDisabled]="!isInfoChanged || isLocked"
                           (takeCancel)="performCancelEdit()"
                           (takeOk)="performUpdateAccountEmail()"></dwfe-ok-cancel-action>

    <dwfe-overlay *ngIf="activeExchangeUnitNumber===1 && isLocked"></dwfe-overlay>

  </section>

  <mat-divider></mat-divider>

  <section class="nevis-account__single-form  dwfe-form">
    <h2 id="email_confirm">{{app.t7eMap('title_confirm', t7e)}}</h2>

    <div class="nevis-account-email__confirm" *ngIf="!nevisService.isEmailConfirmed()">
      <div class="nevis-account-email__confirm-sent" *ngIf="isSentConfirmReq">
        <p class="nevis-account-email__confirm-sent-item  dwfe-txt-warning">{{app.t7eMap('check_email_box',t7e)}}</p>
      </div>
      <dwfe-ok-action class="nevis-account-email__confirm-btn  nevis-account__action"
                      [Label]="isSentConfirmReq ? app.t7eMap('i_want_to_retry_req', t7e): app.t7eMap('run_confirm', t7e)"
                      [errorMessage]="errorMessage"
                      [successMessage]="successMessage"
                      [showErrorMessage]="activeExchangeUnitNumber===2 && errorMessage !== ''"
                      [showSuccessMessage]="activeExchangeUnitNumber===2 && successMessage !== ''"
                      [isDisabled]="!cEmail || !cEmail.value || cEmail.value===''"
                      (takeClick)="performEmailConfirmationReq()"></dwfe-ok-action>
    </div>

    <div *ngIf="nevisService.isEmailConfirmed()">
      <p class="nevis-account-email__confirm-sent-item  nevis-account-email__confirm-sent-item--success  dwfe-txt-successful">
        {{app.t7eMap('email_confirmed', t7e)}}
      </p>
    </div>

    <dwfe-overlay *ngIf="activeExchangeUnitNumber===2 && isLocked"></dwfe-overlay>

  </section>

  <mat-divider></mat-divider>

  <section class="nevis-account__single-form  dwfe-form" spellcheck="false">
    <h2 id="email_change">{{app.t7eMap('title_change', t7e)}}</h2>

    <dwfe-input-email class="nevis-account__element-indent"
                      [labelText]="app.t7eMap('new_email', t7e)"
                      [markIfChanged]="true"
                      [saveEdit$]="subjSaveEdit_Change.asObservable()"
                      [externalBackendValidator]="nevisService.backendValidatorEmail.bind(nevisService)"
                      (takeControl)="cNewEmail=$event"
                      (takeIsChanged)="newEmail_changed=$event"></dwfe-input-email>

    <dwfe-input-password class="nevis-account__element-indent"
                         [labelText]="app.t7eMap('current_password', t7e)"
                         [disableValidators]="true"
                         (takeControl)="cCurrentPassword=$event"></dwfe-input-password>

    <dwfe-ok-action class="nevis-account__action"
                    [errorMessage]="errorMessage"
                    [successMessage]="successMessage"
                    [showErrorMessage]="activeExchangeUnitNumber===3 && errorMessage !== ''"
                    [showSuccessMessage]="activeExchangeUnitNumber===3 && successMessage !== ''"
                    [isDisabled]="!(newEmail_changed && cCurrentPassword && cCurrentPassword.value && cCurrentPassword.value!='') || isLocked"
                    (takeClick)="performEmailChange()"></dwfe-ok-action>

    <dwfe-overlay *ngIf="activeExchangeUnitNumber===3 && isLocked"></dwfe-overlay>

  </section>

</section>
