@import "pref";

.nevis-account-email {
  padding-top: $form-std-indent;
}

.nevis-account-email__confirm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.nevis-account-email__confirm-sent-item {
  margin-top: 0;
}

.nevis-account-email__confirm-sent-item--success {
  margin-bottom: $form-two-thirds-indent;
}

.nevis-account-email__confirm-btn {
  margin-top: $form-half-indent;
}

//
// ADAPTIVE
//
@include media-tablet {

  .nevis-account-email__email {
    width: 45%;
  }
}

@include media-desktop {

  .nevis-account-email__email {
    width: 31%;
  }
}
