@import "pref";

app-layout-info {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .page-header,
  .page-main {
    flex-shrink: 0; //important, so that the blocks are correctly extended in height
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .page-header {
    background-color: $color-white;
  }

  .page-main {
    flex-grow: 1;
    background-color: $color-white;
  }

  .header-content {
    margin-top: 30px;
    margin-bottom: 20px;

    position: relative;
  }

  app-logo-header {
    margin-left: auto;
    margin-right: auto;
  }

  dwfe-location-back {
    position: absolute;
    top: 0;
    left: $indent-horizontal;
  }

  app-page-not-found {
    margin-right: auto;
    margin-left: auto;
  }
}
