<section class="nevis-auth-login  grid-indent">

  <nevis-auth-third-party class="nevis-auth-login__third-party"
                          (isSignedIn)="receiveThirdPartySignInResult($event)"></nevis-auth-third-party>

  <p class="nevis-auth-login__or">
    {{app.t7eMap('or',t7e)}}
  </p>

  <section class="nevis-auth-login__form  dwfe-form" spellcheck="false">

    <dwfe-input-email class="dwfe-form__item"
                      [labelText]="app.t7eMap('email',t7e)"
                      [externalBackendValidator]="nevisService.backendValidatorEmail.bind(nevisService)"
                      [reverseHandleRespFromBackend]="true"
                      (takeControl)="cEmail=$event"
                      #refEmail></dwfe-input-email>

    <dwfe-input-password class="dwfe-form__item"
                         [labelText]="app.t7eMap('password',t7e)"
                         [onlyValidatorRequired]="true"
                         (takeControl)="cPassword=$event"
                         #refPassword></dwfe-input-password>

    <dwfe-checkbox class="nevis-auth-login__not-my-device  dwfe-form__item"
                   [labelText]="app.t7eMap('not_my_device',t7e)"
                   (takeControl)="cNotMyDevice=$event"></dwfe-checkbox>

    <div class="nevis-auth-login__action">

      <button type="button" class="nevis-auth-login__action-btn  dwfe-form__btn  dwfe-form__btn--standard"
              mat-raised-button
              (click)="performLogin()"
              [disabled]="!(cEmail && cPassword && cEmail.valid && cPassword.valid) || isLocked"
              aria-label="Perform 'Login'">
        OK
      </button>

      <a class="nevis-auth-login__password-reset" routerLink="/n/password-reset-req">
        {{app.t7eMap('forgot_password',t7e)}}
      </a>

      <dwfe-alert *ngIf="errorMessage !== ''"
                  class="dwfe-form__alert  dwfe-form__alert--over"
                  [message]="errorMessage"
                  [blink]="true"></dwfe-alert>
    </div>

    <dwfe-overlay *ngIf="isLocked"></dwfe-overlay>

  </section>

  <dwfe-simple-dialog *ngIf="isThirdPartySignedIn">
    <div class="nevis-auth-login__third-party-signed-in-wrap  grid-indent">
      <p class="dwfe-txt-successful">{{app.t7eMap('successfully_logged_in',t7e)}}</p>
      <a class="nevis-auth-login__third-party-btn  dwfe-form__btn  dwfe-form__btn--attraction"
         routerLink="/"
         mat-raised-button>
        {{app.t7eMap('go_to_index',t7e)}}
      </a>
    </div>
  </dwfe-simple-dialog>

</section>
