@import "pref";

.dwfe-clear-control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dwfe-clear-control__icon {
  width: 13px;
  height: 13px;

  fill: $color-mine-shaft;

  user-select: none;
  cursor: pointer;
  transition: opacity 0.15s ease;
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.95;
    outline-width: 0;
  }
}
