@import "pref";

.app-page-not-found__right {
  display: none;
}

//
// ADAPTIVE
//
@include media-tablet {

  .app-page-not-found {
    font-size: $font-size-x2;
  }

  .app-page-not-found__right {
    display: block;
    margin-top: 30px;
    margin-left: 30px;
  }

  .app-page-not-found__pic {
    width: 100px;
    height: 100px;
  }
}

@include media-desktop {

  .app-page-not-found {
    font-size: $font-size-x3;
  }

  .app-page-not-found__right {
    margin-top: 25px;
    margin-left: 50px;
  }

  .app-page-not-found__pic {
    width: 140px;
    height: 140px;
  }
}
