<section class="nevis-account-phone  grid-indent">

  <section class="nevis-account-phone__phone  nevis-account__single-form  dwfe-form">
    <h2 id="account_phone_info" class="visually-hidden">{{app.t7eMap('title_info', t7e)}}</h2>

    <div class="nevis-account__group  nevis-account__element-indent">
      <dwfe-input-text class="nevis-account__group-control"
                       [labelText]="app.t7eMap('phone', t7e)"
                       (takeControl)="cPhone=$event"></dwfe-input-text>

      <dwfe-slide-toggle class="nevis-account__group-vis-checker"
                         [hintTrue]="app.t7eMap('hint_true', t7e)"
                         [hintFalse]="app.t7eMap('hint_false', t7e)"
                         [markIfChanged]="true"
                         [cancelEdit$]="subjCancelEdit_Info.asObservable()"
                         [saveEdit$]="subjSaveEdit_Info.asObservable()"
                         (takeControl)="tPhone=$event"
                         (takeIsChanged)="phoneNonPublic_changed=$event"></dwfe-slide-toggle>
    </div>

    <dwfe-ok-cancel-action class="nevis-account__action"
                           [errorMessage]="errorMessage"
                           [successMessage]="successMessage"
                           [showErrorMessage]="activeExchangeUnitNumber===1 && errorMessage !== ''"
                           [showSuccessMessage]="activeExchangeUnitNumber===1 && successMessage !== ''"
                           [isDisabled]="!isInfoChanged || isLocked"
                           (takeCancel)="performCancelEdit()"
                           (takeOk)="performUpdateAccountPhone()"></dwfe-ok-cancel-action>

    <dwfe-overlay *ngIf="activeExchangeUnitNumber===1 && isLocked"></dwfe-overlay>

  </section>

  <mat-divider></mat-divider>

  <section class="nevis-account__single-form  dwfe-form" spellcheck="false">
    <h2 id="phone_change">{{app.t7eMap('title_change', t7e)}}</h2>

    <dwfe-input-text [labelText]="app.t7eMap('new_phone', t7e)"
                     [markIfChanged]="true"
                     [saveEdit$]="subjSaveEdit_Change.asObservable()"
                     (takeControl)="cNewPhone=$event"
                     (takeIsChanged)="newPhone_changed=$event"></dwfe-input-text>

    <dwfe-input-password class="nevis-account__element-indent"
                         [labelText]="app.t7eMap('current_password', t7e)"
                         [disableValidators]="true"
                         (takeControl)="cCurrentPassword=$event"></dwfe-input-password>

    <dwfe-ok-action class="nevis-account__action"
                    [errorMessage]="errorMessage"
                    [successMessage]="successMessage"
                    [showErrorMessage]="activeExchangeUnitNumber===2 && errorMessage !== ''"
                    [showSuccessMessage]="activeExchangeUnitNumber===2 && successMessage !== ''"
                    [isDisabled]="!(newPhone_changed && cCurrentPassword && cCurrentPassword.value && cCurrentPassword.value!='') || isLocked"
                    (takeClick)="performChangePhone()"></dwfe-ok-action>

    <dwfe-overlay *ngIf="activeExchangeUnitNumber===2 && isLocked"></dwfe-overlay>

  </section>

</section>
