@import "pref";

.app-language__lang-select-btn {
  @include reset-margin-padding();
  padding: 3px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
  user-select: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &.mat-button {
    min-width: 0;
    line-height: 0;
  }
}

.app-language__lang-select-btn-txt {
  margin-top: 2px;
  margin-left: 3px;
  @include fonts($font-size-x1, $font-size-x1, $font-weight-normal, normal, $color-mine-shaft-light);
}

.app-language__lang-select-pic {
  width: 20px;
  height: 20px;

  fill: $color-mine-shaft-light;

  opacity: 0.85;
}

.app-language__lang-select-btn-txt,
.app-language__lang-select-pic {
  &:hover,
  &:focus {
    color: $color-mine-shaft;
    fill: $color-mine-shaft;
  }
}

.app-language__dialog-wrap {
  width: 100%;
  margin-top: $page-header-height;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  h2 {
    margin-top: 0;
    text-align: center;
  }
}

.app-language__dialog-btn-list {
  margin-top: $form-std-indent;
  margin-bottom: $form-std-indent * 2;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.app-language__dialog-btn {
  border-radius: $border-radius-4x;
}

.app-language__dialog-btn:not(:last-child) {
  margin-right: 10px;
}

.app-language__dialog-btn-active {
  box-shadow: inset 0 0 0 2px $color-red-approx;
}

.app-language__dialog-save {
  margin-top: $form-third-indent;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .app-language__lang-select-pic {
    display: none;
  }
}

.app-language__dialog-save-btn {
  margin-left: auto;

  flex-shrink: 0;
}

//
// ADAPTIVE
//
@include media-tablet {

  .app-language__dialog-save {

    .app-language__lang-select-pic {
      display: inline-block;
    }
  }

  .app-language__dialog-save-info {
    margin-left: 10px;
  }
}
