@import "config";

@mixin reset-margin-padding() {
  margin: 0;
  padding: 0;
}

@mixin reset-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin reset-outline() {
  outline-width: 0;
}

@mixin fonts2($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin fonts3($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin fonts4($size, $height, $weight, $style) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin fonts($size, $height, $weight, $style, $color) {
  @include fonts4($size, $height, $weight, $style);
  color: $color;
}

@mixin reset-font() {
  @include fonts(0, 0, 400, normal, transparent);
}

@mixin full-content-border {
  border: none;
  border-radius: $border-radius-2x;
  box-shadow: 0 1px 0 0 $color-porcelain-approx, 0 0 0 1px $color-gallery;
}

@mixin decorateContent {
  background-color: $color-white;
  @include full-content-border;
}

//
// ADAPTIVE
//
@mixin media-mobile() {
  @media (min-width: $grid-breakpoint-mobile) {
    @content;
  }
}

@mixin media-tablet() {
  @media (min-width: $grid-breakpoint-tablet) {
    @content;
  }
}

@mixin media-desktop() {
  @media (min-width: $grid-breakpoint-desktop) {
    @content;
  }
}
