@import "pref";

nevis-password-reset {
  width: 100%;
}

.nevis-password-reset__form {
  position: relative;
}

.nevis-password-reset__title {
  margin-bottom: $form-std-indent;
}

.nevis-password-reset__successful {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.nevis-password-reset__successful-tem {
  @include reset-margin-padding();
  margin-bottom: $form-std-indent;
}

.nevis-password-reset__successful-btn {
  width: $single-btn-width;
}

//
// ADAPTIVE
//
@include media-tablet {

  .nevis-password-reset__form,
  .nevis-password-reset__successful {
    width: $block-standard-width;
  }
}
