<section class="dwfe-simple-dialog">

  <div class="grid-container">
    <div class="dwfe-simple-dialog__content  grid-row">
      <ng-content></ng-content>

      <dwfe-close-action *ngIf="showCloseBtn"
                         (click)="close()"></dwfe-close-action>
    </div>
  </div>

</section>
