@import "pref";

.dwfe-simple-dialog {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: $color-white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dwfe-simple-dialog__content {

  position: relative;

  dwfe-close-action {
    position: absolute;
    top: 5px;
    right: $indent-mobile;
  }
}

//
// ADAPTIVE
//
@include media-tablet {

  .dwfe-simple-dialog__content {

    dwfe-close-action {
      top: 5px;
      right: $indent-tablet;
    }
  }
}
